<h3 class="ui red header">工时列表</h3>
<div class="ui red segment">
  <%= simple_form_for @search_params, url: '', method: :get, wrapper: 'semantic_search' do |f| %>
    <div class="ui six column grid">
      <%= f.input :worker_id, as: :select, collection: Worker.form_options, include_blank: "选择工人", input_html: { class: 'ui fluid dropdown' } %>
      <%= f.input :project_id, as: :select, collection: Project.form_options, include_blank: "选择项目", input_html: { class: 'ui fluid dropdown' } %>
      <%= f.input :work_type, as: :select, collection: WorkerHour.work_types_i18n.invert, include_blank: "选择结算类型", input_html: { class: 'ui fluid dropdown' } %>
      <%= f.input :status, as: :select, collection: WorkerHour.statuses_i18n.invert, include_blank: "选择状态", input_html: { class: 'ui fluid dropdown' } %>
      <div class="column">
        <div class="ui left icon input fluid">
          <i class="calendar icon"></i>
          <%= f.input_field "work_on-gte", placeholder: '工作日期-起', onfocus: "(this.type='date')", onblur: "(this.type='text')" %>
        </div>
      </div>
      <div class="column">
        <div class="ui left icon input fluid">
          <i class="calendar icon"></i>
          <%= f.input_field "work_on-lte", placeholder: '工作日期-始', onfocus: "(this.type='date')", onblur: "(this.type='text')" %>
        </div>
      </div>
      <div class="column">
        <%= f.submit '搜索', class: 'ui red button' %>
      </div>
    </div>
  <% end %>
</div>
<div class="ui segment">
  <%= link_to "工时登记", new_worker_hour_path, class: "ui red button" %>
  <table class="ui selectable striped celled table">
    <thead>
      <tr>
        <th class="center aligned">序号</th>
        <th class="center aligned">工人</th>
        <th class="center aligned">项目</th>
        <th class="center aligned">工作日期</th>
        <th class="center aligned">结算类型</th>
        <th class="center aligned">工时/面积</th>
        <th class="center aligned">工资</th>
        <th class="center aligned">状态</th>
        <th class="center aligned">操作</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'list', collection: @worker_hours, as: :worker_hour %>
    </tbody>
  </table>
  <%= paginate @worker_hours %>
</div>
