<h3 class="ui red header">工人借支登记</h3>
<div class="ui red segment">
  <%= simple_form_for @worker_advance, url: worker_advances_path do |f| %>
    <div class="four fields">
      <%= f.input :worker_id, as: :select, label: '工人', collection: Worker.form_options, include_blank: "选择工人", input_html: { class: 'ui fluid dropdown' } %>
      <%= f.input :employee_id, as: :select, label: '借支人', collection: Employee.form_options, include_blank: "选择借支人", input_html: { class: 'ui fluid dropdown' } %>
    </div>
    <div class="four fields">
      <%= f.input :amount, label: "借支金额" %>
      <%= f.input :advance_on, as: :string, label: '借支日期', input_html: {onfocus: "(this.type='date')", onblur: "(this.type='text')"} %>
    </div>
    <div class="two fields">
      <%= f.input :note, label: "备注" %>
    </div>
    <%= f.submit "提交", class: "ui red button" %>
  <% end %>
</div>
