<tr>
  <td class="center aligned"><%= project.name %></td>
  <td class="center aligned"><%= project.address %></td>
  <td class="center aligned"><%= project.start_on %></td>
  <td class="center aligned"><%= project.end_on %></td>
  <td class="center aligned"><%= number_to_currency project.amount, unit: "¥" %></td>
  <td class="center aligned"></td>
</tr>
