<h3 class="ui red header"><%= @worker.name %>-工时结算</h3>
<div class="ui red segment">
  <table class="ui compact celled definition table">
    <thead>
      <tr>
        <th width="10%"></th>
        <th class="center aligned" width="30%">工时</th>
        <th class="center aligned" width="30%">面积</th>
        <th class="center aligned" width="30%">工资</th>
      </tr>
    </thead>
    <tbody>
      <% @worker_hours.group_by{|w| w.project.name}.each do |project_name, hours| %>
        <tr>
          <td class="right aligned"><%= project_name %></td>
          <td class="center aligned"><%= hours.select{|w| w.gong? }.map{|w| w.quantity.to_f}.sum %></td>
          <td class="center aligned"><%= hours.select{|w| w.area? }.map{|w| w.quantity.to_f}.sum %></td>
          <td class="right aligned"><%= number_to_currency hours.map{|w| w.amount.to_f }.sum, unit: "¥" %></td>
        </tr>
      <% end %>
      <tr>
        <td class="right aligned"><h4 class="ui orange header">工资总计</h4></td>
        <td class="center aligned"><%= @worker_hours.select{|w| w.gong? }.map{|w| w.quantity.to_f}.sum %></td>
        <td class="center aligned"><%= @worker_hours.select{|w| w.area? }.map{|w| w.quantity.to_f}.sum %></td>
        <% worker_hour_amount = @worker_hours.map{|w| w.amount.to_f }.sum %>
        <td class="right aligned"><h4 class="ui orange header"><%= number_to_currency worker_hour_amount, unit: "¥" %></h4></td>
      </tr>
      <tr>
        <td class="right aligned"><h4 class="ui orange header">借支总计</h4></td>
        <% worker_advance_amount = @worker_advances.map{|w| w.amount.to_f }.sum %>
        <td class="right aligned" colspan="3"><h4 class="ui orange header">扣除：<%= number_to_currency worker_advance_amount, unit: "¥" %></h4></td>
      </tr>
      <tr>
        <td class="right aligned"><h4 class="ui red header">应付工资</h4></td>
        <td class="right aligned" colspan="3"><h3 class="ui red header"><%= number_to_currency (worker_hour_amount - worker_advance_amount), unit: "¥" %></h3></td>
      </tr>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="3">
          <%= link_to "确认结算", worker_settles_path(worker_id: params[:worker_id]), method: :post, data: {confirm: "确认结算吗？"}, class: "ui right floated red button" %>
        </th>
      </tr>
    </tfoot>
  </table>
  <% if @worker_advances.present? %>
    <h4 class="ui header">借支明细</h4>
    <table class="ui selectable striped celled table">
      <thead>
        <tr>
          <th class="center aligned">借支日期</th>
          <th class="center aligned">借支金额</th>
          <th class="center aligned">借支人</th>
          <th class="center aligned">备注</th>
          <th class="center aligned">状态</th>
        </tr>
      </thead>
      <tbody>
        <% @worker_advances.each do |worker_advance| %>
          <tr>
            <td class="center aligned"><%= worker_advance.advance_on %></td>
            <td class="center aligned"><%= number_to_currency worker_advance.amount, unit: "¥" %></td>
            <td class="center aligned"><%= worker_advance.employee&.name %></td>
            <td class="center aligned"><%=  worker_advance.note %></td>
            <td class="center aligned"><%=  worker_advance.status_i18n %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if @worker_hours.present? %>
    <h4 class="ui header">工时明细</h4>
    <table class="ui selectable striped celled table">
      <thead>
        <tr>
          <th class="center aligned">工作日期</th>
          <th class="center aligned">项目</th>
          <th class="center aligned">结算类型</th>
          <th class="center aligned">工数/面积</th>
          <th class="center aligned">工资</th>
          <th class="center aligned">状态</th>
        </tr>
      </thead>
      <tbody>
        <% @worker_hours.each do |worker_hour| %>
          <tr>
            <td class="center aligned"><%= worker_hour.work_on %></td>
            <td class="center aligned"><%= worker_hour.project.name %></td>
            <td class="center aligned"><%= worker_hour.work_type_i18n %></td>
            <td class="center aligned"><%= worker_hour.quantity %><%= worker_hour.gong? ? "个工" : "面积" %></td>
            <td class="center aligned"><%= number_to_currency worker_hour.amount, unit: "¥" %></td>
            <td class="center aligned"><%=  worker_hour.status_i18n %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
