<h3 class="ui red header">供应商列表</h3>
<div class="ui red segment">
  <%= simple_form_for @search_params, url: '', method: :get, wrapper: 'semantic_search' do |f| %>
    <div class="ui five column grid">
      <%= f.input "name-like", placeholder: '供应商名称' %>
      <div class="column">
        <%= f.submit '搜索', class: 'ui red button' %>
      </div>
    </div>
  <% end %>
</div>
<div class="ui segment">
  <%= link_to "供应商登记", new_vendor_path, class: "ui red button" %>
  <table class="ui selectable striped celled table">
    <thead>
      <tr>
        <th class="center aligned">序号</th>
        <th class="center aligned">供应商名称</th>
        <th class="center aligned">联系人</th>
        <th class="center aligned">联系人手机</th>
        <th class="center aligned">税号</th>
        <th class="center aligned">开户行</th>
        <th class="center aligned">地址</th>
        <th class="center aligned">操作</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'list', collection: @vendors, as: :vendor %>
    </tbody>
  </table>
  <%= paginate @vendors %>
</div>
